<h2>post your favourite travel spots you've been to... and why!</h2>

<p>the best travel tips come from friends or family recommending places they've been.
</p>

<p>share your favourite places from around the world... only if you've been there</p>