<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HotSpots</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <% if (userId) { %>
    <%= user.email %>

  <% } %>

  <nav>
    <a href="/">Home</a>
    <a href="/about">about</a>

    <% if (userId) { %>
    <a href="/places">post</a>
    <% } %>

    <% if (userId) { %>
    
      <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>logout</button>
      </form>
      <% } else { %>
        <a href="/login">login</a>
        
        
        
        <a href="/signup">create account</a>
        <% } %>





  </nav>

  <%- body %>
</body>
</html>