<h2>share new travel spot</h2>

<form action="/places" method="post">
  <label for="">name</label>
  <input name="name" type="text">
  <label for="">image url</label>
  <input name="image_url" type="text">
  <label for="">country</label>
  <input name="country" type="text">
  <label for="">activities</label>
  <input name="activities" type="text">
  <button>share</button>
</form>