<h2>sign up if you haven't already</h2>

<form action="/users" method="post">
  <label for="">email</label>
  <input type="text">
  <label for="">password</label>
  <input type="text">
  <button>signup</button>


</form>